* {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

span {
  display: inline-block;
}

html,
body,
section,
.page {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 10, 10) !important;
  transition: all 1s cubic-bezier(0.5, -0.005, 10, 10) !important;
  color: #fff;
  background: #ffffff;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
}

.page {
  position: absolute;
}

.ikon {
  color: #fff;
  font-size: 32px;
  display: block;
}

.ikon:hover {
  opacity: 0.6;
}

#w2:target .page#p1,
#w3:target .page#p1,
#w4:target .page#p1 {
  background: rgba(0, 0, 0, 0.397);
}

#w2:target .page#p1 .ikon,
#w3:target .page#p1 .ikon,
#w4:target .page#p1 .ikon {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#w2:target ul .ikon,
#w3:target ul .ikon,
#w4:target ul .ikon {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

@-webkit-keyframes load {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}

@keyframes load {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}

@-webkit-keyframes load2 {
  from {
    left: 100%;
  }
  to {
    left: 30%;
  }
}

@keyframes load2 {
  from {
    left: 100%;
  }
  to {
    left: 30%;
  }
}

@-webkit-keyframes load3 {
  from {
    left: 100%;
  }
  to {
    left: 60%;
  }
}

@keyframes load3 {
  from {
    left: 100%;
  }
  to {
    left: 60%;
  }
}

body #w1 #w2:target .page#p2 {
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2:target .page#p2 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body #w1 #w2:target #to {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #w1 #w2 #w3:target .page#p3 {
  -webkit-transform: translateX(-190%);
          transform: translateX(-190%);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3:target .page#p3 {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

body #w1 #w2 #w3:target #tre {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #w1 #w2 #w3 #w4:target .page#p4 {
  -webkit-transform: translateX(-290%);
          transform: translateX(-290%);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4:target .page#p4 {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

body #w1 #w2 #w3 #w4:target .page#p4 #fire {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #w1 #w2 #w3 #w4 main {
  width: 400%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main {
    overflow: visible;
  }
}

body #w1 #w2 #w3 #w4 main nav {
  position: relative;
  overflow: visible;
}

body #w1 #w2 #w3 #w4 main nav.show-nav-white i {
  color: white;
}

body #w1 #w2 #w3 #w4 main nav.show-nav-dark i {
  color: #13ad13;
}

body #w1 #w2 #w3 #w4 main nav i.fa-bars {
  display: block;
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 801px) {
  body #w1 #w2 #w3 #w4 main nav i.fa-bars {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main nav.show-nav ul {
    bottom: -100px;
    background-color: #3da034;
    left: 0;
    padding-left: 20vw;
  }
}

body #w1 #w2 #w3 #w4 main nav ul {
  position: fixed;
  z-index: 1;
  top: -20%;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main nav ul {
    position: absolute;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: 50px;
    left: 20vw;
  }
}

body #w1 #w2 #w3 #w4 main nav ul a {
  text-decoration: none;
  font-family: open sans, sans-serif;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main nav ul a {
    width: 15vw;
  }
}

body #w1 #w2 #w3 #w4 main nav ul a li {
  color: #3da034;
  margin: 30px 0;
  font-size: 4vw;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main nav ul a li {
    color: #ffffff;
    font-size: 40px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 {
  left: -1%;
  overflow: hidden;
  -webkit-animation: load 1s forwards;
          animation: load 1s forwards;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 {
  -webkit-animation: load 1s forwards;
          animation: load 1s forwards;
  -webkit-box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.521);
          box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.521);
  position: absolute;
  left: 110%;
  top: 18vh;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-image: url(../img/kicking-workout_925x.jpg);
  background-size: 180%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 {
    display: none;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1:hover .cir-hover {
  display: block;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 a {
  text-decoration: none;
  color: white;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 a div.cir-hover {
  display: none;
  width: 18vw;
  height: 18vw;
  background-color: rgba(65, 114, 55, 0.5);
  border-radius: 50%;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 a div.cir-hover p.i {
  padding: 5vw 0 0 5vw;
  font-size: 2.2em;
  font-style: italic;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil1 a div.cir-hover p.ii {
  padding: 2vw 0 0 5vw;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil2 {
  -webkit-animation: load2 1s forwards;
          animation: load2 1s forwards;
  -webkit-box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.527);
          box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.527);
  position: absolute;
  left: 150%;
  top: 42vh;
  width: 26vw;
  height: 26vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-image: url(../img/Working-Out-With-Chalk_925x.jpg);
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 figure div.cir-bil2 {
    top: 55vh;
    margin: 0 -20vw;
    width: 250px;
    height: 250px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure h2 {
  color: black;
  position: absolute;
  left: 30%;
  top: 2vw;
  font-size: 60px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #3da034;
          text-decoration-color: #3da034;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 figure h2 {
    font-size: 30px;
    top: 15vh;
    left: 0%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.slide-left {
  -webkit-animation: load3 1s forwards;
          animation: load3 1s forwards;
  -webkit-box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.541);
          box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.541);
  position: absolute;
  left: 170%;
  top: 14vw;
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: #3da034;
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.slide-left:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 figure div.slide-left {
    margin: 0 -20vw;
    top: 28vh;
    width: 170px;
    height: 170px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 figure div.slide-left i.fa-angle-right {
  font-size: 12vw;
  -webkit-transform: translate(80%, 10%);
          transform: translate(80%, 10%);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 figure div.slide-left i.fa-angle-right {
    font-size: 145px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact {
    overflow-y: scroll;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact.show {
  left: 0%;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact figure {
  position: relative;
  z-index: 100;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact figure div.slide-right {
  position: absolute;
  left: 5%;
  top: 50px;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: #3da034;
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact figure div.slide-right {
    left: 65%;
    top: 25px;
    width: 16vw;
    height: 16vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact figure div.slide-right i.fa-angle-right {
  font-size: 6vw;
  -webkit-transform: translate(80%, 17%) rotate(180deg);
          transform: translate(80%, 17%) rotate(180deg);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact figure div.slide-right i.fa-angle-right {
    font-size: 12vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div {
    width: 80%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form {
  width: 100%;
  padding: 100px 0 0 0;
  margin: 0 30vw;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form {
    margin: 0;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form h2 {
  color: black;
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form h2 {
    font-size: 12vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form label {
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input {
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input[type=text],
body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input[type=email],
body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form input[type=submit]:hover {
  background-color: #45a049;
}

body #w1 #w2 #w3 #w4 main section div#p1 div div.contact div form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body #w1 #w2 #w3 #w4 main section div#p1 div figure.billed {
  margin-left: auto;
  width: 45vw;
  margin-right: 0;
  position: absolute;
  right: 70px;
  top: 100px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p1 div figure.billed {
    display: none;
  }
}

body #w1 #w2 #w3 #w4 main section div#p1 div figure.billed div.xl-cir-bil {
  background: url(../img/arm-back-muscles_925x.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

body #w1 #w2 #w3 #w4 main section div#p2 {
  left: 99%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 {
    overflow-y: scroll;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks {
  -webkit-box-shadow: -4px 4px 33px -10px rgba(0, 0, 0, 0.84), inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
          box-shadow: -4px 4px 33px -10px rgba(0, 0, 0, 0.84), inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
  width: 35%;
  margin: 15vh 5% 0 5%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks {
    margin: 15vh 10% 0 10%;
    width: 80%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure {
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure img {
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure figcaption h3 {
  font-size: 2em;
  color: black;
  padding: 20px 0 0 30px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure figcaption h3 {
    font-size: 1.5em;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure figcaption p {
  font-size: 1.3em;
  color: black;
  padding: 30px 30px;
  line-height: 35px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure figcaption p {
    line-height: 30px;
    font-size: 1em;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure button {
  margin: 20px 40%;
  background: none;
  border: none;
  color: #3da034;
  font-weight: 600;
  font-size: 1.8em;
  border-bottom: 3px solid black;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure button {
    font-size: 1.4em;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel-boks figure button:hover {
  border-bottom: 3px solid #208a29;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 250%;
  background-color: white;
  overflow: hidden;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1.show {
  left: 0;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right {
  position: absolute;
  left: 5%;
  top: 3vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: #3da034;
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right {
    left: 75%;
    top: 25px;
    width: 16vw;
    height: 16vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right i.fa-angle-right {
  font-size: 6vw;
  -webkit-transform: translate(80%, 17%) rotate(180deg);
          transform: translate(80%, 17%) rotate(180deg);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right i.fa-angle-right {
    font-size: 12vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div h2 {
  color: black;
  margin: 10vw 0 0 20vw;
  width: 40%;
  font-size: 2em;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div h2 {
    margin: 30vw 0 30px 10%;
    width: 80%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div p {
  color: black;
  margin: 2vw 0 20px 20vw;
  width: 40%;
  font-size: 1.4;
  line-height: 25px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div p {
    margin: 10px 0 0 10%;
    width: 80%;
  }
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div p:nth-child(4) {
    margin: 380px 0 0 10%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div figure.billed {
  margin-left: auto;
  width: 35vw;
  margin-right: 0;
  position: absolute;
  right: 110px;
  top: 500px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div figure.billed {
    top: 470px;
    z-index: 0;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div figure.billed div.xl-cir-bil {
  background: url(../img/squatting-exercise_925x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div figure.billed div.xl-cir-bil {
    width: 300px;
    height: 300px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div button {
  display: none;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div button {
    display: block;
    background: none;
    border: none;
    margin: 30px 45%;
  }
  body #w1 #w2 #w3 #w4 main section div#p2 div.artikel div.ekstra-side-a1 div.artikel-et div button i.fa-angle-up {
    color: #3da034;
    font-size: 70px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 250%;
  background-color: white;
  overflow: hidden;
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2.show {
  left: 0;
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 figure div.slide-right {
  position: absolute;
  left: 5%;
  top: 3vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: #3da034;
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 figure div.slide-right {
    left: 75%;
    top: 25px;
    width: 16vw;
    height: 16vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 figure div.slide-right i.fa-angle-right {
  font-size: 6vw;
  -webkit-transform: translate(80%, 17%) rotate(180deg);
          transform: translate(80%, 17%) rotate(180deg);
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 figure div.slide-right i.fa-angle-right {
    font-size: 12vw;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div h2 {
  color: black;
  margin: 10vw 0 0 20vw;
  width: 40%;
  font-size: 2em;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div h2 {
    margin: 30vw 0 30px 10%;
    width: 80%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div p {
  color: black;
  margin: 2vw 0 20px 20vw;
  width: 40%;
  font-size: 1.4;
  line-height: 25px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div p {
    margin: 10px 0 0 10%;
    width: 80%;
  }
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div p:nth-child(4) {
    margin: 380px 0 0 10%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div figure.billed {
  margin-left: auto;
  width: 35vw;
  margin-right: 0;
  position: absolute;
  right: 110px;
  top: 500px;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div figure.billed {
    top: 470px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div figure.billed div.xl-cir-bil {
  background: url(../img/man-lifting-weights_925x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div figure.billed div.xl-cir-bil {
    width: 300px;
    height: 300px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div button {
  display: none;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div button {
    display: block;
    background: none;
    border: none;
    margin: 30px 45%;
  }
  body #w1 #w2 #w3 #w4 main section div#p2 div div.ekstra-side-a2 div.artikel-to div button i.fa-angle-up {
    color: #3da034;
    font-size: 70px;
  }
}

body #w1 #w2 #w3 #w4 main section div#p3 {
  left: 200%;
  background-color: #fff;
  overflow-y: scroll;
}

body #w1 #w2 #w3 #w4 main section div#p3 div.first figure {
  position: relative;
}

body #w1 #w2 #w3 #w4 main section div#p3 div.first figure video {
  margin: -5% 0 0 0;
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p3 div.first figure button {
  position: absolute;
  top: 40vw;
  left: 45%;
  font-size: 60px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

body #w1 #w2 #w3 #w4 main section div#p3 div.first figure button a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

body #w1 #w2 #w3 #w4 main section div#p3 div#second div {
  width: 60%;
  padding: 10vh 0 10vh 20vw;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p3 div#second div {
    width: 80%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p3 div#second div h2 {
  color: black;
}

body #w1 #w2 #w3 #w4 main section div#p3 div#second div p {
  color: black;
  line-height: 150%;
  font-weight: 500;
  margin-top: 2vh;
}

body #w1 #w2 #w3 #w4 main section div#p3 div#second figure {
  width: 100%;
  height: 500px;
  background: url(../../img/athlete-barbell-bodybuilder-949129.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body #w1 #w2 #w3 #w4 main section div#p4 {
  overflow-y: scroll;
  left: 299%;
  background-color: #fff;
  width: 100%;
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  padding: 0 10% 0 2%;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul {
    margin-top: 10%;
    padding: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul {
    margin-top: 20%;
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  list-style: none;
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 600px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(6) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 600px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

@media only screen and (max-width: 800px) {
  body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li {
    margin: 2.5%;
  }
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li a {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: block;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: white;
  font-size: 3em;
  -webkit-transition: .5s;
  transition: .5s;
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li a:hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body #w1 #w2 #w3 #w4 main section div#p4 div.galleri ul li a img {
  width: 100%;
  -webkit-box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.363);
          box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.363);
}

#zoomBil {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  text-align: center;
  width: 100%;
}

.wrap {
  border: 8px solid #fff;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: lightboxZoom;
          animation-name: lightboxZoom;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  width: 100%;
}

img.image {
  margin: 10vh 5vw;
  width: 70%;
}

p#billedText {
  position: absolute;
  top: 95vh;
  left: 35%;
}

.close {
  color: white;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  font-size: 4em;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px;
  text-decoration: none;
}

.close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */