// colors
$themeColor: #3da034;
$bgColor: #39493b;
$white: #fff;
$darktext: black;
$lighttext: white;

// responsive
$res-big: "only screen and (min-width: 801px)";
$res-small: "only screen and (max-width: 800px)";
$res-xsmall: "only screen and (max-width: 600px)";

div#p1 {
  left: -1%;
  overflow: hidden;
  animation: load 1s forwards;

  figure {
    position: relative;

    div.cir-img1 {
      animation: load 1s forwards;
      box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.521);
      position: absolute;
      left: 110%;
      top: 18vh;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      background: center;
      background-repeat: no-repeat;
      background-image: url(../img/kicking-workout_925x.jpg);
      background-size: 180%;
      transition: 1s;

      @media #{$res-small} {
        display: none;
      }

      &:hover {
        .cir-hover {
          display: block;
        }
      }

      a {
        text-decoration: none;
        color: white;

        div.cir-hover {
          display: none;
          width: 18vw;
          height: 18vw;
          background-color: rgba(65, 114, 55, 0.5);
          border-radius: 50%;

          p {

            &.i {
              padding: 5vw 0 0 5vw;
              font-size: 2.2em;
              font-style: italic;
            }
          }

          p {

            &.ii {
              padding: 2vw 0 0 5vw;
            }
          }
        }
      }
    }
  }

  figure {
    position: relative;

    div.cir-img2 {
      animation: load2 1s forwards;
      box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.527);
      position: absolute;
      left: 150%;
      top: 42vh;
      width: 26vw;
      height: 26vw;
      border-radius: 50%;
      background: center;
      background-repeat: no-repeat;
      background-image: url(../img/Working-Out-With-Chalk_925x.jpg);
      background-size: 180%;
      transition: 2s;

      @media #{$res-small} {
        top: 55vh;
        margin: 0 -20vw;
        width: 250px;
        height: 250px;
      }
    }


  }

  figure {
    position: relative;

    h2 {
      color: black;
      position: absolute;
      left: 30%;
      top: 2vw;
      font-size: 60px;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: $themeColor;

      @media #{$res-small} {
        font-size: 30px;
        top: 15vh;
        left: 0%
      }
    }

    div.slide-left {
      animation: load3 1s forwards;
      box-shadow: -7px 10px 38px -5px rgba(0, 0, 0, 0.541);
      position: absolute;
      left: 170%;
      top: 14vw;
      width: 14vw;
      height: 14vw;
      border-radius: 50%;
      background: center;
      background-repeat: no-repeat;
      background-color: $themeColor;
      background-size: 180%;
      transition: 2s;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      @media #{$res-small} {
        margin: 0 -20vw;
        top: 28vh;
        width: 170px;
        height: 170px;
      }

      i.fa-angle-right {
        font-size: 12vw;
        transform: translate(80%, 10%);

        @media #{$res-small} {
          font-size: 145px;
        }
      }
    }
  }

  div.contact-slide {
    position: relative;

    div.contact {
      position: absolute;
      left: 100%;
      width: 100%;
      height: 100vh;
      background-color: white;
      overflow: hidden;

      @media #{$res-small} {
        overflow-y: scroll;
      }

      &.show {
        left: 0%;

      }

      figure {
        position: relative;
        z-index: 100;

        div.slide-right {
          position: absolute;
          left: 5%;
          top: 50px;
          width: 8vw;
          height: 8vw;
          border-radius: 50%;
          background: center;
          background-repeat: no-repeat;
          background-color: $themeColor;
          background-size: 180%;
          transition: 2s;
          cursor: pointer;

          @media #{$res-small} {
            left: 65%;
            top: 25px;
            width: 16vw;
            height: 16vw;
            z-index: 98;
          }

          i.fa-angle-right {
            font-size: 6vw;
            transform: translate(80%, 17%) rotate(180deg);

            @media #{$res-small} {
              font-size: 12vw
            }
          }
        }
      }

      div {
        width: 30%;

        @media #{$res-small} {
          width: 80%;
        }

        form {
          width: 100%;
          padding: 100px 0 0 0;
          margin: 0 30vw;

          @media #{$res-small} {
            margin: 0 0 400px 0;
          }

          h2 {
            color: $darktext;
            font-size: 3em;
            text-align: center;

            @media #{$res-small} {
              font-size: 12vw
            }
          }

          label {
            width: 100%;
          }

          input {
            width: 100%;

            &[type=text],
            select {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              resize: vertical;
            }

            &[type=email],
            select {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              resize: vertical;
            }

            &[type=submit] {
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }

            &[type=submit]:hover {
              background-color: #45a049;
            }

          }

          textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
          }
        }

        button {
          display: none;

          @media #{$res-small} {
            display: block;
            background: none;
            border: none;
            margin: 30px 45%;

            i.fa-angle-up {
              color: $themeColor;
              font-size: 70px;
            }
          }
        }
      }
    }

    figure.image {
      margin-left: auto;
      width: 45vw;
      margin-right: 0;
      position: absolute;
      right: 70px;
      top: 100px;

      @media #{$res-small} {
        display: none;
      }

      div.xl-cir-img {
        background: url(../img/arm-back-muscles_925x.jpg);
        background-repeat: no-repeat;
        background-size: fill;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
      }
    }
  }
}