div#p2 {
  left: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#p2 div.artikel-boks {
  -webkit-box-shadow: -4px 4px 33px -10px rgba(0, 0, 0, 0.84);
          box-shadow: -4px 4px 33px -10px rgba(0, 0, 0, 0.84);
  width: 35%;
  margin: 15vh 5% 0 5%;
  height: 70vh;
}

div#p2 div.artikel-boks figure {
  width: 100%;
}

div#p2 div.artikel-boks figure img {
  width: 100%;
}

div#p2 div.artikel-boks figure figcaption p {
  color: black;
  padding: 40px 20px;
}

div#p2 div.artikel-boks figure button {
  margin-left: 70%;
  background: none;
  border: none;
  color: #39493b;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

div#p2 div.artikel div.ekstra-side-a1 {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 1000px;
  background-color: white;
  overflow: hidden;
}

div#p2 div.artikel div.ekstra-side-a1.show {
  left: 0;
}

div#p2 div.artikel div.ekstra-side-a1 figure {
  position: relative;
}

div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right {
  position: absolute;
  left: 5%;
  top: 3vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: rgba(87, 119, 87, 0.5);
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

div#p2 div.artikel div.ekstra-side-a1 figure div.slide-right i.fa-angle-right {
  font-size: 6vw;
  -webkit-transform: translate(80%, 17%) rotate(180deg);
          transform: translate(80%, 17%) rotate(180deg);
}

div#p2 div.artikel div.ekstra-side-a1 div.artikel-kaktus div h1 {
  color: black;
  margin: 10vw 0 0 20vw;
  width: 40%;
}

div#p2 div.artikel div.ekstra-side-a1 div.artikel-kaktus div p {
  color: black;
  margin: 2vw 0 0 20vw;
  width: 40%;
}

div#p2 div.artikel div.ekstra-side-a1 div.artikel-kaktus div figure.billed {
  margin-left: auto;
  width: 35vw;
  margin-right: 0;
  position: absolute;
  right: 70px;
  top: 150px;
}

div#p2 div.artikel div.ekstra-side-a1 div.artikel-kaktus div figure.billed div.xl-cir-bil {
  background: url(../img/20190218_101118.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

div#p2 div div.ekstra-side-a2 {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 1000px;
  background-color: white;
  overflow: hidden;
}

div#p2 div div.ekstra-side-a2.show {
  left: 0;
}

div#p2 div div.ekstra-side-a2 figure {
  position: relative;
}

div#p2 div div.ekstra-side-a2 figure div.slide-right {
  position: absolute;
  left: 5%;
  top: 3vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: center;
  background-repeat: no-repeat;
  background-color: rgba(87, 119, 87, 0.5);
  background-size: 180%;
  -webkit-transition: 2s;
  transition: 2s;
}

div#p2 div div.ekstra-side-a2 figure div.slide-right i.fa-angle-right {
  font-size: 6vw;
  -webkit-transform: translate(80%, 17%) rotate(180deg);
          transform: translate(80%, 17%) rotate(180deg);
}

div#p2 div div.ekstra-side-a2 div.artikel-blomst div h1 {
  color: black;
  margin: 10vw 0 0 20vw;
  width: 40%;
}

div#p2 div div.ekstra-side-a2 div.artikel-blomst div p {
  color: black;
  margin: 2vw 0 0 20vw;
  width: 40%;
}

div#p2 div div.ekstra-side-a2 div.artikel-blomst div figure.billed {
  margin-left: auto;
  width: 35vw;
  margin-right: 0;
  position: absolute;
  right: 70px;
  top: 150px;
}

div#p2 div div.ekstra-side-a2 div.artikel-blomst div figure.billed div.xl-cir-bil {
  background: url(../img/20190218_102532.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}
/*# sourceMappingURL=page2.css.map */