// colors
$bgColor: #39493b;
$white: #fff;
$darktext: black;
$lighttext: white;

// responsive
$res-big: "only screen and (min-width: 801px)";
$res-small: "only screen and (max-width: 800px)";


nav {
    position: relative;
    overflow: visible;
    &.show-nav-white i{
      color: rgb(255, 255, 255);
    }
    &.show-nav-dark i{
      color: $bgColor;
    }
    i.fa-bars {
      display: block;
      position: absolute;
      top: 5vh;
      left: 5vw;
      z-index: 100;
      font-size: 30px;
      cursor: pointer;

      @media #{$res-big} {
        display: none;
      }
    }
    @media #{$res-small} {
      

      &.show-nav ul{
        bottom: -100px;
        background-color: #39493b;
        left: 0;
        padding-left: 20vw;
        
      }
      
    }
    ul {
      position: fixed;
      z-index: 1;
      top: -10%;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 280px;
      width: 10%;
      padding: 0;
      text-align: center;

      @media #{$res-small} {
        position: absolute;
        width: 100%;
        height: 100px;
        display: flex;
        transition: .5s;
        bottom: 50px;
        left: 20vw;
      }

      a {
        text-decoration: none;
        font-family: open sans, sans-serif;

        @media #{$res-small} {
          width: 15vw;
        }

        li {
          color: #506b54;
          margin: 30px 0;
          font-size: 4vw;
          @media #{$res-small} {
          color: #ffffff;
          font-size: 40px;
          }
        }
      }
    }
  }